<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DedicatedServerUtilityGUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DedicatedServerUtilityGUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DedicatedServerUtilityGUI.My.MySettings>
            <setting name="ServerPath" serializeAs="String">
                <value>F:\Game_Servers\conan_exiles_server\ConanSandbox\Binaries\Win64\\\\\\\\\\</value>
            </setting>
            <setting name="ServerEXE" serializeAs="String">
                <value>ConanSandboxServer-Win64-Test.exe1</value>
            </setting>
            <setting name="ServerStartArguments" serializeAs="String">
                <value>-log</value>
            </setting>
            <setting name="ServerStopString" serializeAs="String">
                <value>^C</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
        </DedicatedServerUtilityGUI.My.MySettings>
    </userSettings>
    <applicationSettings>
        <DedicatedServerUtilityGUI.My.MySettings>
            <setting name="LastProcessID" serializeAs="String">
                <value>0</value>
            </setting>
        </DedicatedServerUtilityGUI.My.MySettings>
    </applicationSettings>
</configuration>